body {
    background-image: url("/Users/AndrewHolland/Documents/UofA Bootcamp/Homework/Assignment_2/Bootstrap_portfolio/Random_Assets/connectwork.png");
    color: white;

}

.navbar-brand {
    font-size: 30px;
}

a {
    position: relative;
    text-decoration: none;
  }
  
  a:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid #D4B44A;
  }

  #cursive {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 4px 4px 4px rgba(212,180,74, 0.65);
    text-align: center;
    
  }

#position {
    position: absolute !important;
    top: 8px           !important;
    right: 16px        !important;
    font-size: 18px    !important;
}


#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
     
}

#spacing {
    width: 25%;
    margin: 0%;
    
}

.card-body {
    background-color: #343a40;
    color: #D4B44A;
}

@media (max-width: 560px) {

    /*TABLET*/

#about {
    margin: 15px 0% 15px 10%;
    width: 80%;
}

#aboutImg {
    width: 45%;;
    margin: 5px 18px 20px 18px;
    float: left;
}

#tablet p {
    padding: 0px;
}


#portfolio {
    margin: 15px 0% 15px 10%;
    width: 80%;
}
#spacing {
    width: 52%;
    margin: 0%;
    
}

#portfolio {
    margin: 15px 0% 15px 10%;
    width: 80%;
}


}

    /*DESKTOP*/

@media (min-width: 992px) {

#about {
    margin: 15px -6% 60px 10%;
    width: 50%;
}

#connect {
    width: 25%;
}

#contact {
    width: 50%;
    margin: 15px -6% 50px 10%;

}

#portfolio {
    width: 50%;
    margin: 15px -6% 60px 10%;

}


}