body {
    background-image: url("/Users/AndrewHolland/Documents/UofA Bootcamp/Homework/Assignment_2/Bootstrap_portfolio/Random_Assets/connectwork.png");
    color: white;

}

.navbar-brand {
    font-size: 30px;
}

a {
    position: relative;
    text-decoration: none;
  }
  
  a:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid #D4B44A;
  }

  #cursive {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 4px 4px 4px rgba(212,180,74, 0.65);
    text-align: center;
    
  }

#position {
    position: absolute !important;
    top: 8px           !important;
    right: 16px        !important;
    font-size: 18px    !important;
}


#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
     
}

#spacing {
    width: 25%;
    margin: 0%;
    
}

.card-body {
    background-color: #343a40;
    color: #D4B44A;
}